@model ASI.Basecode.Services.ServiceModels.AmenityViewModel

@{
}

    <form id="createForm" asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
        <label asp-for="AmenityName" class="control-label">Amenity<span style="color: red;">*</span></label>
            <input asp-for="AmenityName" class="form-control" placeholder="Enter Amenity Name" />
            <span asp-validation-for="AmenityName" class="text-danger"></span>
        </div>

        <div class="form-group d-flex justify-content-end pt-3">
            <button type="button" class="btn mr-2 cancel-modal" onclick="closeModal()">Cancel</button>
            <input type="submit" value="Create New Amenity" class="btn submit-modal" />
        </div>
    </form>
