@model ASI.Basecode.Services.ServiceModels.AmenityViewModel

@{
}

<div class="modal-header">
    <h5 class="modal-title">Edit Amenity</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AmenityId" />
            <div class="form-group">
                <label asp-for="AmenityName" class="control-label">Amenity</label>
                <input asp-for="AmenityName" class="form-control" placeholder="Enter Amenity name" />
                <span asp-validation-for="AmenityName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}
