@model ASI.Basecode.Services.ServiceModels.AmenityViewModel

@{
}
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AmenityId" />
            <div class="form-group">
                <label asp-for="AmenityName" class="control-label">Amenity</label>
                <input asp-for="AmenityName" class="form-control" placeholder="Enter Amenity name" />
                <span asp-validation-for="AmenityName" class="text-danger"></span>
            </div>

            <div class="form-group d-flex justify-content-end pt-3">
                <button type="button" class="btn mr-2 cancel-modal" onclick="closeModal()">Cancel</button>
                <input type="submit" value="Save" class="btn submit-modal" />
            </div>
        </form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}
