@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<header class="@((ViewBag.LoginView == true) ? "hide-navbar" : "")">
    <div class="sidebar-header" style="padding: 20px; display: flex; align-items: center; border-top-right-radius: 10px; border-bottom-right-radius: 10px;">
        <a asp-action="Index" asp-controller="Home" style="display: flex; align-items: center; text-decoration: none;">
            <img src="~/img/bookr_logo_maroon.png" alt="Logo" style="margin-right: 10px;">
            <span style="color: #820000; font-size: 24px; font-family: Inter; font-weight: 800;">Bookr</span>
        </a>
    </div>
    @* <div>
        <a asp-action="Index" asp-controller="Room">Room Management</a>
    </div> *@
    <div class="logosec">
        @HttpContextAccessor.HttpContext.Session.GetString("Name")
        <div class="mr-20 hover-pointer" style="position: relative">
            <div class="dp">
                <img src="~/img/profile-logo.png"
                     class="dpicn hover-pointer"
                     alt="dp">
            </div>
            <div class="dropdown">
                <ul>
                    <li>
                        <i class="fa-solid fa-gear"></i>
                        <a asp-action="Index" asp-controller="Profile" class="sidebar-link">Settings</a>
                    </li>
                    <li>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a asp-action="SignOutUser" asp-controller="Account">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
