@* Views/Shared/_LoadingSpinner.cshtml *@
<div id="loading-overlay" class="loading-overlay">
    <div class="loading-spinner">
        <div class="spinner"></div>
        <p>Loading...</p>
    </div>
</div>