@{
    var bookingId = ViewData["bookingId"];
}
<h6 class="mb-4">Are you sure you want to approve this booking? We will notify the user after approval.</h6>

<!-- Submit Button -->
<div class="form-group d-flex justify-content-end mb-0">
    <button type="button" class="btn btn-secondary mr-2 cancel-modal" onclick="closeModal('crudModal1')">Cancel</button>
    <button type="button" class="btn btn-primary submit-modal" onclick="ApproveDisapproveBooking('@Url.Action("ApproveBookingById", "Booking", new { bookingId = bookingId })', 'approve')">Yes</button>
</div>
        
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

    </script>
}
