@using ASI.Basecode.Services.ServiceModels;
@model ASI.Basecode.Services.ServiceModels.BookingViewModel

@{
}

<h6 class="mb-4">Are you sure you want to disapprove this booking? We will notify the user after disapproval.</h6>

    <form id="disapproveBookingForm" asp-action="DisapproveBooking" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Title" />
        <input type="hidden" asp-for="BookingId" />
        <input type="hidden" asp-for="RoomId" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="BookingStartDate" />
        <input type="hidden" asp-for="BookingEndDate" />
        <input type="hidden" asp-for="CheckInTimeString" />
        <input type="hidden" asp-for="CheckOutTimeString" />
        <input type="hidden" asp-for="CreatedDate" />
        <input type="hidden" asp-for="ApproveDisapproveBy" />
        <input type="hidden" asp-for="IsRecurring" />
        <input type="hidden" asp-for="SelectedDays" />

        <!-- Submit Button -->
    <div class="form-group d-flex justify-content-end mb-0">
        <button type="button" class="btn btn-secondary mr-2 cancel-modal" onclick="closeModal('crudModal1')">Cancel</button>
            <input type="submit" value="Yes" class="btn btn-success submit-modal" />
        </div>
    </form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
