@{
    var bookingId = ViewData["bookingId"];
}

<h6 class="mb-4">Are you sure you want to disapprove this booking? We will notify the user after disapproval.</h6>

<!-- Submit Button -->
<div class="form-group d-flex justify-content-end mb-0">
    <button type="button" class="btn btn-secondary mr-2 cancel-modal" onclick="closeModal('crudModal1')">Cancel</button>
    <button type="button" class="btn btn-primary submit-modal" onclick="ApproveDisapproveBooking('@Url.Action("DisapproveBookingById", "Booking", new { bookingId = bookingId })', 'disapprove')">Yes</button>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
