@using ASI.Basecode.Services.ServiceModels;
@model IEnumerable<ASI.Basecode.Services.ServiceModels.UserViewModel>

@{
    
}

<!-- Search and Filter Section -->
<div class="mb-4">
    <!-- Search User Textbox -->
    <div class="form-group">
        <label for="searchUser">Search:</label>
        <input type="text" id="searchUser" class="form-control" placeholder="Enter Email" />
    </div>

    <!-- Search By Dropdown -->
    <div class="form-group">
        <label for="searchBy">Search By:</label>
        <select id="searchBy" class="form-control">
            <option value="email">Search by Email</option>
            <option value="firstName">Search by First Name</option>
            <option value="lastName">Search by Last Name</option>
        </select>
    </div>

    <!-- Buttons for Search and Show All -->
    <div class="form-group d-flex justify-content-end">
        <button id="userShowAllButton" class="btn mr-2 cancel-modal">Clear Search</button>
        <button id="userSearchButton" class="btn submit-modal">Search</button>
    </div>
</div>

<div class="modal-body">
    <!-- User Table -->
    <div id="userTable">
        @Html.Partial("_UserListSelection", Model) <!-- Default show all the users -->
    </div>
</div>

@section Scripts {
    <script>

    </script>
}
