@model ASI.Basecode.Services.ServiceModels.ResetPasswordModel
@using static ASI.Basecode.Resources.Views.Screen
@section styles {
    <link rel="stylesheet" href="~/css/login.css" />
}
@{
    ViewBag.LoginView = true;
    ViewData["Title"] = "Reset Password Page";
}
<div>
    @Html.AntiForgeryToken()
</div>

<div class="container-fluid p-0 d-flex">
    <div class="card rounded-0 vh-100 d-none d-md-flex align-items-center justify-content-center col-md-6" style="background-color: var(--background-color-login);">
        <img src="~/img/logo-big.svg" style="z-index: 1; width: 20%; position: absolute; top:28px; left: 37px" />
        <img src="~/img/tina.png" class="float-animation" style="width: 70%; z-index: 2;" />
        <img src="~/img/geometric-left.svg" class="geometric-right" />
        <p class="text-muted" style="position: absolute; bottom: 0;">@Copyright</p>
    </div>

    <div class="card rounded-0 gradient-login shadow-none vh-100 text-center d-flex justify-content-center col-12 col-md-6">
        <div class="d-flex flex-column align-items-center" style="z-index: 3;">
            <h1 class="mb-4 greeting">Change Password</h1>

            <form method="post" asp-action="ResetPassword">
                <input type="hidden" asp-for="Token" />

                <div class="form-group form-outline d-flex flex-column text-left">
                    <label asp-for="NewPassword">New Password</label>
                    <input type="password" asp-for="NewPassword" class="form-control" required />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>

                <div class="form-group form-outline d-flex flex-column text-left">
                    <label asp-for="ConfirmPassword">Confirm Password</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="text-center mt-3 pt-1 d-flex flex-column align-items-center">
                    <button class="btn login-btn mb-3" type="submit">
                        Reset Password
                    </button>
                </div>
                <div>
                    <a href="@Url.Action("Login", "Account")">Sign in</a>
                </div>
            </form>
        </div>
        <img src="~/img/cit-logo.svg" class="cit-logo" />
        <img src="~/img/geometric-right.svg" class="geometric-right" />
    </div>

</div>

@section scripts {
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }
    </script>
}