@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@300;400;700;900&display=swap');

.gradient-login {
    /* fallback for old browsers */
    background: var(--cit-yellow); /* Red */
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(180deg, var(--cit-yellow), #FFFFFF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(180deg, var(--cit-yellow), #FFFFFF);
}

label {
    font-weight: 700;
}

.greeting {
    font-family: "Hanuman", serif;
    font-weight: 700;
    font-size: 45px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.form-control {
    width: 100%;
    border-radius: 10px;
    border: none;
    outline: none !important;
}

.login-btn {
    width: 400px;
    border-radius: 25px;
    background-color: var(--background-color-login);
    color: white;
}

.cit-logo {
    width: 240px;
    position: absolute;
    bottom: 0;
    right: 0px;
}

.geometric-right {
    width: 100%;
    height: 100%; /* Takes full height of container */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover; /* This ensures the image covers the entire container */
    object-position: bottom; /* Keeps the image anchored to bottom */
}

.float-animation {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

button:hover{
    color: gray !important;
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-login {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
