@model ASI.Basecode.Services.ServiceModels.BookingViewModel;

@{
    var roomId = ViewData["RoomId"];
}

    <form id="createBookingForm" asp-action="Book" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="RoomId" id="RoomId" value=@roomId/>
        <input type="hidden" asp-for="Status" id="Status" value="Pending"/>

        <!-- Meeting Title -->
        <div class="form-group">
        <label asp-for="Title" class="control-label">Meeting Title<span style="color: red;">*</span></label>
            <input asp-for="Title" class="form-control" type="text" placeholder="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <!-- Booking Check In Date and Time -->
        <div class="form-group">
        <label asp-for="BookingStartDate" class="control-label">Booking Start Date<span style="color: red;">*</span></label>
            <input asp-for="BookingStartDate" id="BookingStartDate" class="form-control booking-date-input" type="text" placeholder="Start Date" />
            <span asp-validation-for="BookingStartDate" class="text-danger"></span>
        </div>

        <div class="form-group">
        <label asp-for="CheckInTimeString" class="control-label">Check In Time<span style="color: red;">*</span></label>
            <input asp-for="CheckInTimeString" id="CheckInTime" class="form-control booking-time-input" type="text" placeholder="Check In Time" />
            <span asp-validation-for="CheckInTimeString" class="text-danger"></span>
        </div>

        <div class="form-group">
        <label asp-for="CheckOutTimeString" class="control-label">Check Out Time<span style="color: red;">*</span></label>
            <input asp-for="CheckOutTimeString" id="CheckOutTime" class="form-control booking-time-input" type="text" placeholder="Check Out Time" />
            <span asp-validation-for="CheckOutTimeString" class="text-danger"></span>
        </div>


        <!-- Is Recurring -->
        <div class="form-group">
        <label asp-for="IsRecurring" class="control-label">Is Recurring?<span style="color: red;">*</span></label>
            <select asp-for="IsRecurring" id="IsRecurring" class="form-control">
                <option value="false">No</option>
                <option value="true">Yes</option>
            </select>
            <span asp-validation-for="IsRecurring" class="text-danger"></span>
        </div>

        <!-- Contents here for choosing non-recurring or recurring booking -->
        <div class="recurring-booking-form pb-3" hidden="true">
            <!-- Booking Check Out Date and Time -->
            <div class="form-group">
            <label asp-for="BookingEndDate" class="control-label">Recurring End Date<span style="color: red;">*</span></label>
                <input asp-for="BookingEndDate" class="form-control booking-date-input" type="text" placeholder="End Date" />
                <span asp-validation-for="BookingEndDate" class="text-danger"></span>
            </div>

            <!-- Hidden input for selected days -->
            <input type="hidden" asp-for="SelectedDays" id="selectedDays" name="SelectedDays"/>

        <label id="DaySelections" class="control-label">Select Days<span style="color: red;">*</span></label>
        <div class="day-selector d-flex flex-wrap justify-content-between mb-3">
            <button type="button" style="width:70px;" class="btn btn-outline-primary day-option" data-day="Monday">Mon</button>
                <button type="button" style="width:70px;" class="btn btn-outline-primary day-option" data-day="Tuesday">Tue</button>
                <button type="button"  style="width:70px;" class="btn btn-outline-primary day-option" data-day="Wednesday">Wed</button>
                <button type="button"  style="width:70px;" class="btn btn-outline-primary day-option" data-day="Thursday">Thu</button>
                <button type="button"  style="width:70px;" class="btn btn-outline-primary day-option" data-day="Friday">Fri</button>
            <button type="button" style="width:70px;" class="btn btn-outline-primary day-option" data-day="Saturday">Sat</button>
            </div>
            <span asp-validation-for="SelectedDays" class="text-danger"></span>

        </div>

        <!-- Submit Button -->
        <div class="form-group d-flex justify-content-end">
        <button type="button" class="btn mr-2 cancel-modal" onclick="closeModal('crudModal2')">Cancel</button>
            <input id="createBooking"type="submit" value="Save" class="btn submit-modal" />
        </div>
    </form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        // Check for error message and display Toastr notification
        var errorMessage = '@TempData["ErrorMessage"]';
        if (errorMessage) {
            toastr.error(errorMessage);
        }

    </script>
}