@model ASI.Basecode.Services.ServiceModels.BookingViewModel


@{
}

    <h6>Are you sure you want to cancel this booking? You can't revert after this action is done.</h6>



    <form id="cancelBookingForm" asp-action="CancelBooking" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Title" />
        <input type="hidden" asp-for="BookingId" />
        <input type="hidden" asp-for="RoomId" />
        <input type="hidden" asp-for="UserId" />
        <input type="hidden" asp-for="BookingStartDate" />
        <input type="hidden" asp-for="BookingEndDate" />
        <input type="hidden" asp-for="CheckInTimeString" />
        <input type="hidden" asp-for="CheckOutTimeString" />
        <input type="hidden" asp-for="CreatedDate" />
        <input type="hidden" asp-for="ApproveDisapproveBy" />
        <input type="hidden" asp-for="IsRecurring" />
        <input type="hidden" asp-for="SelectedDays" />

        <!-- Submit Button -->
        <div class="form-group d-flex justify-content-end pt-md-4">
        <button type="button" class="btn cancel-modal mr-2" data-dismiss="modal">Cancel</button>
            <input type="submit" value="Confirm" class="btn submit-modal" />
           
        </div>
    </form>
