@model ASI.Basecode.Services.ServiceModels.RoomViewModel

<h6>Are you sure you want to delete this room?</h6>
<div class="d-flex justify-content-end pt-4">
    <form asp-action="SoftDelete">
        <input type="hidden" asp-for="RoomId" />
        <button type="button" class="btn mr-2 cancel-modal" onclick="closeModal()">Cancel</button>
        <input type="submit" value="Delete" class="btn submit-modal" />
    </form>
</div>